{% extends "JuniorEtudiantBundle:Etudiant:layoutEtudiant.html.twig" %}

{% block title %}
{{ parent()}} - Dashboard
{% endblock %}

{% block content_etudiant %}

<div class="container-fluid">
    <h2>Frais récents</h2>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Date achat</th>
                <th>Etude</th>
                <th>Objet</th>
                <th>Type</th>
                <th>Montant</th>
                <th>Statut</th>

            </tr>
        </thead>
        <tbody>
        {% for frais in list_frais %}
                <tr>
                    <td>{{ frais.dateAchat|date("d/m/Y") }}</td>
                    <td>{{ frais.etude.nomEtude }}</td>
                    <td>{{ frais.objetFrais }}</td>
                    <td>{{ frais.typeFrais }}</td>
                    <td>{{ frais.montantFrais }}</td>
                    <td>{{ frais.statutFrais }}</td>
                </tr>
        {% endfor %}
            </tbody>
        </table>
        <a class="btn btn-primary" href="{{ path('junior_etudiant_listFrais') }}" >
            <i class="icon-search icon-white"></i>Voir tous les frais</a>
        <a class="btn btn-primary" href="{{ path('junior_etudiant_newFrais') }}" > <i class="icon-edit icon-white"></i>Enregistrer des frais</a>

    </div>
    <hr>
    <div class="container-fluid">    
        <h2>Acomptes récents</h2>
        {% if list_acompte|length > 0 %}
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>N°</th>
                    <th>Etude</th>
                    <th>Montant</th>
                    <th>Date demande</th>
                    <th>Statut</th>

                </tr>
            </thead>
            <tbody>
        {% for acompte in list_acompte %}
                    <tr>
                        <td>{{ acompte.id }}</td>
                        <td>{{ acompte.indemnite.etude.nomEtude }}</td>
                        <td>{{ acompte.montantAcompte }}</td>
                        <td>{{ acompte.dateAcompte|date("d/m/Y") }}</td>
                        <td>{{ acompte.statutAcompte }}</td>
                    </tr>
        {% endfor %}
                </tbody>
            </table>
        {% else %}
        <p> Vous n'avez aucune demande d'acompte en cours </p>
        {% endif %}

            <a class="btn btn-primary" href="#" > <i class="icon-edit icon-white"></i>Faire une demande d'acompte</a>

        </div>

<hr>
<div class="container-fluid">
    <h2>Mes études en cours</h2>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Nom de l'étude</th>
                <th>Statut</th>
                <th>Detail</th>
                <th>Acompte</th>
            </tr>
        </thead>
        <tbody>
            {% for participation in participations %}
                {% if participation.etude.statutEtude == "En cours" %}
                <tr>
                    <td>{{ participation.etude.nomEtude }}</td>
                    <td>{{ participation.statutEtudiant }}</td>
                    <td>   
                        <a href="{{ path('junior_etudiant_showEtude', {'idEtude': participation.etude.id, 'idEtudiant':app.user.id}) }}" class="btn btn-primary btn-small">
                            <i class="icon-search icon-white"></i>
                            Voir l'étude
                        </a>
                    </td>
                    <td>   
                        <a href="{{ path('junior_etudiant_newAcompte', {'idEtude': participation.etude.id}) }}" class="btn btn-info btn-small">
                            <i class="icon-edit icon-white"></i>
                            Demander un acompte
                        </a>
                    </td>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('junior_etudiant_listEtudes') }}" class="btn btn-primary">
        <i class="icon-search icon-white"></i>
        Voir toutes les études
    </a>
</div>
    
<p></p>
<p></p>
    


{% endblock %} 