{% extends "JuniorEtudiantBundle:Etudiant:layoutEtudiant.html.twig" %}

{% block title %}
{{ parent()}} - Edition
{% endblock %}

{% block content_etudiant %}

    <h2>Mes infos - Editer</h2>

       <form method="post" {{ form_enctype(edit_form) }}>
           
           {#
           
        <div>
            {{ form_label(edit_form.numEtudiant, "Numéro étudiant :") }}

            {{ form_errors(edit_form.numEtudiant) }}

            {{ form_widget(edit_form.numEtudiant) }}
            </div>
            <div>
            {{ form_label(edit_form.nomEtudiant, "Nom :") }}

            {{ form_errors(edit_form.nomEtudiant) }}

            {{ form_widget(edit_form.nomEtudiant) }}
                </div>
                <div>
            {{ form_label(edit_form.dateNaissance, "Date de naissace :") }}

            {{ form_errors(edit_form.dateNaissance) }}

            {{ form_widget(edit_form.dateNaissance) }}
                    </div>
                    <div>
            {{ form_label(edit_form.numSecu, "Numéro sécurité sociale :") }}

            {{ form_errors(edit_form.numSecu) }}

            {{ form_widget(edit_form.numSecu) }}
                        </div>
#}
                        <div>
            {{ form_label(edit_form.adresseEtudiant, "Adresse :") }}

            {{ form_errors(edit_form.adresseEtudiant) }}

            {{ form_widget(edit_form.adresseEtudiant) }}
                            </div>
                            <div>
            {{ form_label(edit_form.telEtudiant, "Téléphone :") }}

            {{ form_errors(edit_form.telEtudiant) }}

            {{ form_widget(edit_form.telEtudiant) }}
                                </div>
                                <div>
            {{ form_label(edit_form.email, "Email :") }}

            {{ form_errors(edit_form.email) }}

            {{ form_widget(edit_form.email) }}
                                    </div>
    {#
  {{ form_rest(edit_form)}}
#}
               {{ form_widget(edit_form._token) }}
                                    <input type="submit" class="btn btn-primary validButton" value="Valider"/>
                                    <a class="btn btn-danger validButton" href="{{ path('junior_etudiant_showEtudiant') }}">Annuler</a>
                                </form>
                            </div>
    
    
    {#
    
    
    <div class="row-fluid">
        <div class="input-prepend">
            <span class="add-on">N° Etudiant</span>
            <input class="span4" id="prependedInput" id="disabledInput" type="text" placeholder="{{app.user.numetudiant}}" disabled>
        </div>
        <div class="input-prepend">
            <span class="add-on">Nom</span>
            <input class="span4" id="prependedInput" id="disabledInput" type="text" placeholder="{{app.user.nometudiant}}" disabled>
        </div>
    </div>
    <div class="row-fluid">
        <div class="input-prepend">
            <span class="add-on">N° SS</span>
            <input class="span6" id="prependedInput" id="disabledInput" type="text" placeholder="{{app.user.numsecu}}" disabled>
        </div>
        <div class="input-prepend">
            <span class="add-on">Date de naissance</span>
            <input class="span6" id="prependedInput" id="disabledInput" type="text" placeholder="{{app.user.datenaissance|date("d/m/Y")}}" disabled>
        </div>
    </div>


    <form method="post" {{ form_enctype(edit_form) }}>
        <div>
            {{ form_label(edit_form.adresseEtudiant, "Adresse :") }}
                {{ form_widget(edit_form.adresseEtudiant) }}
                {{ form_label(edit_form.telEtudiant, "Téléphone :") }}
                {{ form_widget(edit_form.telEtudiant) }}
                {{ form_label(edit_form.email, "Email :") }}
                {{ form_widget(edit_form.email) }}

        </div>        

        <p>
             <input type="submit" class="btn btn-primary validButton" value="Valider"/>
        </p>
    </form>
#}


{% endblock %} 