{% extends "::layoutJunior.html.twig"%}

{% block title %}
    {{parent()}} - Etudiant
{% endblock %}
    {% block body %}
<div id="menu" class="span3">
    <ul class="nav nav-list">
        <li class="nav-header">
            <a href="{{ path('junior_etudiant_dashboard') }}" >DASHBOARD</a>
        </li>
        <li class="divider"></li>
        <li class="nav-header">
            <a href="#" id="etu-frais" title="frais">MES FRAIS</a>
        </li>
        <ul id="submenu-frais"  >
            <li>
                <a href="{{ path('junior_etudiant_listFrais', {'id': app.user.id}) }}" id="etu-frais-liste" title="liste frais"><p>tous les frais</p></a>
            </li>
            <li role="presentation">
                <a href="{{ path('junior_etudiant_newFrais', {'id':app.user.id}) }}" id="etu-frais-enr" title="enregistrer frais"><p>enregistrer des frais</p></a>
            </li>
        </ul>
        <li class="divider"></li>
        <li class="nav-header">
            <a href="#" id="etu-etudes" title="études"><p>MES ETUDES</p></a>
            <ul id="submenu-etudes">
                <li>
                    <a href="{{ path('junior_etudiant_listEtudes', {'id':10}) }}" id="etu-etudes-liste" title="liste etudes"><p>toutes les études</p></a>
                </li>
            </ul>
        </li>
        <li class="divider"></li>
        <li class="nav-header">
            <a href="{{ path('junior_etudiant_showEtudiant', {'id':10}) }}" id="infos"  ><p>MES INFOS</p></a>
        </li>
    </ul>
</div>

<div id="content" class="span9">
    <ul class="breadcrumb">
        <li class="active"><a href="#">Dashboard</a> <span class="divider">/</span></li>
    </ul>

    <div class="container-fluid">
                {% block content_etudiant %}{% endblock %}
        </div>
    </div>

{% endblock %}

