{% extends "JuniorEtudiantBundle:Etudiant:layoutEtudiant.html.twig" %}

{% block title %}
{{ parent()}} - Infos
{% endblock %}

{% block content_etudiant %}

<h2>Mes frais</h2>


<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Date achat</th>
            <th>Etude</th>
            <th>Type frais</th>
            <th>Montant frais</th>

        </tr>
    </thead>
    <tbody>
        {% for entity in list_frais %}
            <tr>
                <td>{{ entity.dateAchat }}</td>
                <td>{{ entity.etude.nomEtude }}</td>
                <td>{{ entity.typeFrais }}</td>
                <td>{{ entity.montantFrais }}</td>

                {#
                <td>
                <ul>
                    <li>
                        <a href="{{ path('etudiant_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('etudiant_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
                #}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <button class="btn" type="button">
        <a href="{{ path('junior_etudiant_newFrais', { 'id': 1 }) }}">Enregistrer un nouveau frais</a>
    </button>


{% endblock %}