{% extends "JuniorEtudiantBundle:Etudiant:layoutEtudiant.html.twig" %}

{% block title %}
{{ parent()}} - Nouvel acompte
{% endblock %}

{% block content_etudiant %}


<div>
    <h2>Demande d'acompte</h2>
    <p> Etude :  {{ etude.nomEtude }} </p>
    <form action="{{ path('junior_etudiant_newAcompte', {'idEtude' : etude.id}) }}" method="post" {{ form_enctype(form) }}>
        <div>
            {{ form_label(form.montantAcompte, "Montant demandé :") }}

            {{ form_errors(form.montantAcompte) }}

            <div class="input-append">
                {{ form_widget(form.montantAcompte) }}
                <span class="add-on">€</span>
            </div>
        </div>
        {{ form_rest(form) }}
        <input type="submit" class="btn btn-primary validButton" value="Valider"/>
     <a class="btn btn-danger" style="margin-top:10px" href="{{ path('junior_etudiant_listEtudes') }}">Annuler</a>
        </form>
</div>

{% endblock %} 