{% extends "JuniorEtudiantBundle:Etudiant:layoutEtudiant.html.twig" %}

{% block title %}
{{ parent()}} - Frais
{% endblock %}

{% block content_etudiant %}



<h2>Demander un acompte</h2>

<p> Sélectionner l'étude pour laquelle vous souhaitez demander un acompte </p>

<div class="well">
    <form method="post" {{ form_enctype(form2) }}>
        <div>
            {{ form_label(form2.etudes, "Nom de l'étude :") }}
                {{ form_widget(form2.etudes) }}
            </div>

    <input type="submit" class="btn btn-primary" />
    <a class="btn btn-danger" href="{{ path('junior_etudiant_listEtudes') }}">Annuler</a>
</form>

</div>




{% endblock %} 