{% extends "JuniorEtudiantBundle:Etudiant:layoutEtudiant.html.twig" %}

{% block title %}
{{ parent()}} - Infos
{% endblock %}

{% block content_etudiant %}

<h2>Mes infos</h2>

    <table class="table table-bordered table-condensed">
        <tbody>
            <tr>
                <th>N° Etudiant</th>
                <td>{{ entity.numEtudiant }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ entity.nomEtudiant }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ entity.adresseEtudiant }}</td>
            </tr>
            <tr>
                <th>N° SS</th>
                <td>{{ entity.numSecu }}</td>
            </tr>
            <tr>
                <th>Date de naissance</th>
                <td>{{ entity.dateNaissance }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ entity.telEtudiant }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ entity.email }}</td>
            </tr>
            
        </tbody>
    </table>

        {#
<ul class="record_actions">
    <li>
        <a href="{{ path('etudiant') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('etudiant_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('etudiant_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
#}
{#<button class="btn" type="button">
    <a href="{{ path('junior_etudiant_editEtudiant') }}">Editer mes infos</a>
</button>#}

<a href="{{ path('junior_etudiant_editEtudiant') }}" class="btn btn-primary btn-small">
    <i class="icon-search icon-white"></i>
    Editer mes infos
</a>

{% endblock %} 