{% extends "JuniorEtudiantBundle:Etudiant:layoutEtudiant.html.twig" %}

{% block title %}
{{ parent()}} - Remboursement de frais
{% endblock %}

{% block content_etudiant %}


<div>
    <h2>Remboursement de frais n°{{ rf.id }} en date du {{ rf.dateRemboursement|date("d/m/Y") }}</h2>
</div>

<div>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Date achat</th>
                <th>Etude</th>
                <th>Type frais</th>
                <th>Montant frais</th>

            </tr>
        </thead>
        <tbody>
       {% for frais in rf.frais %}
                <tr>
                    <td>{{ frais.dateAchat|date("d/m/Y") }}</td>
                    <td>{{ frais.etude.nomEtude }}</td>
                    <td>{{ frais.typeFrais }}</td>
                    <td>{{ frais.montantFrais }}</td>
                </tr>
        {% endfor %}
            </tbody>
        </table>
        <a href="{{ path('junior_etudiant_listFrais', { 'id': app.user.id }) }}" class="btn btn-info btn-small">
            <i class="icon-arrow-left icon-white"></i>
            Retour à la liste des frais
        </a>
    </div>

{% endblock %} 