{% extends "JuniorEtudiantBundle:Etudiant:layoutEtudiant.html.twig" %}

{% block title %}
{{ parent()}} - Etude
{% endblock %}

{% block content_etudiant %}


{% set total = etude.prixJournee * indemnites.nbJours %}

<h2>Etude</h2>
<div class="well">
    <ul class="inline">
        <li>N° : <span class="label">{{ etude.id }}</span></li>
        <li>Titre : <span class="label">{{ etude.nomEtude }}</span></li>
    </ul>
    <ul class="inline">
        <li>Entreprise : <span class="label">{{ etude.convention.entreprise.nomEntreprise }}</li>
        <li>Rôle : <span class="label">{{ participant.statutEtudiant }}</span></li>
        <li>Statut : <span class="label">{{ etude.statutEtude }}</span></li>
    </ul>
    <ul class="inline">
        <li>Durée : <span class="label">{{ indemnites.nbJours }} jours</span></li>
        <li>Date de fin prévue : <span class="label">{{ etude.dateFinPrevue|date('d/m/Y') }}</li>
        <li>Prix par jour : <span class="label">{{ indemnites.indemniteJournee }} €</span></li>
        <li>Total : <span class="label">{{ total }} €</span></li>
    </ul>
</div>

{# n'afficher les acomptes que s'il y a de acomptes à afficher#}
{% if acomptes.count > 0 %}
<div>
    <h2>Acomptes</h2>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Numero</th>
                <th>Date</th>
                <th>Montant</th>
                <th>Statut</th>
            </tr>
        </thead>
        <tbody>
            {% for acompte in acomptes %}
                <tr>
                    <td>{{ acompte.id }}</td>
                    <td>{{ acompte.dateAcompte|date("d/m/Y") }}</td>
                    <td>{{ acompte.montantAcompte }}</td>
                    <td>{{ acompte.statutAcompte }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% else %}
<p>Vous n'avez demandé aucun acompte pour cette étude.<p>
  {% endif %}

{% if etude.statutEtude == "En cours" and acomptes.count < 3 %}
    <td>   
        <a href="{{ path('junior_etudiant_newAcompte', {'idEtude': etude.id}) }}" class="btn btn-info btn-small">
            <i class="icon-edit icon-white"></i>
            Demander un acompte
        </a>
    </td>
{% endif %}

{% endblock %} 