{% extends "JuniorEtudiantBundle:Gestion:layoutGestion.html.twig" %}

{% block title %}
{{ parent()}} - Dashboard
{% endblock %}

{% block content_gestion %}

<div class="container-fluid">
    <h2>Etudes en cours</h2>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Nom de l'étude</th>
                <th>Entreprise</th>
                <th>Detail</th>
                <th>Clôturer</th>
            </tr>
        </thead>
        <tbody>
            {% for etude in listEtudes %}
                {% if etude.statutEtude == 'En cours' %}
                    <tr>
                        <td>{{ etude.nomEtude }}</td>
                        <td>{{ etude.convention.entreprise.nomEntreprise }}</td>
                        <td>   
                            <a href="{{ path('junior_gestion_showEtude', {'idEtude': etude.id}) }}" class="btn btn-primary btn-small">
                                <i class="icon-search icon-white"></i>
                                Voir l'étude
                            </a>
                        </td>
                        <td>
                            <a href="{{ path('junior_gestion_newFacture', {'idEtude': etude.id}) }}" onclick="return(confirm('Etes-vous sûr de vouloir clôturer cette étude?'));" class="btn btn-info btn-small">
                                <i class="icon-off icon-white"></i>
                                Clôturer cette étude
                            </a>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('junior_gestion_listEtudes') }}" class="btn btn-primary">
        Voir toutes les études
    </a>
    <a href="{{ path('junior_gestion_choixEntreprise') }}" class="btn btn-primary">
        Créer une étude
    </a>
    
    <h2>Acomptes en attente</h2>
    {% if listAcomptesEnCours|length > 0 %}
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>N°</th>
                    <th>Nom Etudiant</th>
                    <th>Etude</th>
                    <th>Montant</th>
                    <th>Date</th>
                    <th>Statut</th>
                </tr>
            </thead>
            <tbody>
                {% for acompte in listAcomptesEnCours %}
                    <tr>
                        <td>{{ acompte.id }}</td>
                        <td>{{ acompte.indemnite.etudiant.nomEtudiant }}</td>
                        <td>{{ acompte.indemnite.etude.nomEtude }}</td>
                        <td>{{ acompte.montantAcompte }}</td>
                        <td>{{ acompte.dateAcompte|date("d/m/Y") }}</td>
                        <td>
                            <a href="{{ path('junior_gestion_validAcompte', {'idAcompte': acompte.id}) }}" onclick="return(confirm('Valider cet acompte ?'));" class="btn btn-info btn-small">
                                <i class="icon-thumbs-up icon-white"></i>
                                Valider cet acompte
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p> Aucun acompte en attente </p>
    {% endif %}
    <a href="{{ path('junior_gestion_listAcomptes') }}" class="btn btn-primary">
        Voir tous les acomptes
    </a>
</div>
{% endblock %} 