{% extends "JuniorEtudiantBundle:Gestion:layoutGestion.html.twig" %}

{% block title %}
{{ parent()}} - Editer un étudiant
{% endblock %}

{% block content_gestion %}

{% for flashMessage in app.session.flashbag.get('info') %}
    <div class="alert alert-info">
        {{ flashMessage }}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
{% endfor %}


<div>
    <h2>Modifier l'étudiant  {{ etudiant.numEtudiant }}</h2>
    <form method="post" {{ form_enctype(form) }}>
        <div>
            {{ form_label(form.numEtudiant, "Numéro étudiant :") }}

            {{ form_errors(form.numEtudiant) }}

            {{ form_widget(form.numEtudiant) }}
            </div>
            <div>
            {{ form_label(form.nomEtudiant, "Nom :") }}

            {{ form_errors(form.nomEtudiant) }}

            {{ form_widget(form.nomEtudiant) }}
                </div>
                <div>
            {{ form_label(form.dateNaissance, "Date de naissace :") }}

            {{ form_errors(form.dateNaissance) }}

            {{ form_widget(form.dateNaissance) }}
                    </div>
                    <div>
            {{ form_label(form.numSecu, "Numéro sécurité sociale :") }}

            {{ form_errors(form.numSecu) }}

            {{ form_widget(form.numSecu) }}
                        </div>
                        <div>
            {{ form_label(form.adresseEtudiant, "Adresse :") }}

            {{ form_errors(form.adresseEtudiant) }}

            {{ form_widget(form.adresseEtudiant) }}
                            </div>
                            <div>
            {{ form_label(form.telEtudiant, "Téléphone :") }}

            {{ form_errors(form.telEtudiant) }}

            {{ form_widget(form.telEtudiant) }}
                                </div>
                                <div>
            {{ form_label(form.email, "Email :") }}

            {{ form_errors(form.email) }}

            {{ form_widget(form.email) }}
                                    </div>
  {{ form_rest(form)}}
                                    <input type="submit" class="btn btn-primary validButton" value="Valider"/>
                                    <a class="btn btn-danger validButton" href="{{ path('junior_gestion_listEtudiants') }}">Annuler</a>
                                </form>
                            </div>

{% endblock %} 