{% extends "JuniorEtudiantBundle:Gestion:layoutGestion.html.twig" %}

{% block title %}
{{ parent()}} - Frais
{% endblock %}

{% block content_gestion %}


{% for flashMessage in app.session.flashbag.get('info') %}
<div class="alert alert-info">
        {{ flashMessage }}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
{% endfor %}

    <div class="container-fluid">    
        <h2>Frais en attente de validation</h2>
    {% if listFraisEnregistrés|length > 0 %}
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Nom Etudiant</th>
                    <th>Objet</th>
                    <th>Type</th>
                    <th>Montant</th>
                    <th>Statut</th>
                    <th>Valider</th>
                    <th>Refuser</th>
                </tr>
            </thead>
            <tbody>
                {% for frais in listFraisEnregistrés %}
                    <tr>
                        <td>{{ frais.dateAchat|date("d/m/Y") }}</td>
                        <td>{{ frais.etudiant.nomEtudiant }}</td>
                        <td>{{ frais.objetFrais }}</td>
                        <td>{{ frais.typeFrais }}</td>
                        <td>{{ frais.montantFrais }}</td>
                        <td>{{ frais.StatutFrais }}</td>
                        <td>
                            <a href="{{ path('junior_gestion_validFrais', {'idFrais': frais.id}) }}" class="btn btn-success btn-small">
                                <i class="icon-ok icon-white"></i>
                            </a>
                        </td>
                        <td>
                            <a href="{{ path('junior_gestion_refusFrais', {'idFrais': frais.id}) }}" class="btn btn-danger btn-small">
                                <i class="icon-remove icon-white"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
    {% else %}
            <p> Aucun frais en attente de validation</p>
    {% endif %}
</div>

<div class="container-fluid">  
            <h2>Frais en attente de remboursement</h2>
    {% if listFraisNotInRF|length > 0 %}
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Nom Etudiant</th>
                        <th>Objet</th>
                        <th>Type</th>
                        <th>Montant</th>
                        <th>Statut</th>
                    </tr>
                </thead>
                <tbody>
                {% for frais in listFraisNotInRF %}
                        <tr>
                            <td>{{ frais.dateAchat|date("d/m/Y") }}</td>
                            <td>{{ frais.etudiant.nomEtudiant }}</td>
                            <td>{{ frais.objetFrais }}</td>
                            <td>{{ frais.typeFrais }}</td>
                            <td>{{ frais.montantFrais }}</td>
                            <td>{{ frais.StatutFrais }}</td>

                        </tr>
                {% endfor %}
                    </tbody>

                </table>
                <div>
                {% if listFraisEnregistrés|length == 0 %}
                        <a href="{{ path('junior_gestion_selectEtudiantRF') }}" class="btn btn-info btn-small">
                            <i class="icon-file icon-white"></i>
                            Créer notes remboursements
                        </a>
                {% endif %}
                    </div>
    {% else %}
                    <p> Validez les frais en attente pour pouvoir créer une fiche de remboursement de frais </p>
    {% endif %}
                </div>

<div class="container-fluid"> 
    <h2>Tous les remboursements de frais</h2>
     {% if list_rf[0] == NULL %}
    <p> Aucun remboursement de frais dans la base de données</p>
                    {% else %}

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>N° RF</th>
                <th>Etudiant</th>
                <th>Date</th>
                <th>Nb frais</th>
                <th>Montant total</th>
                <th>Détail</th>
            </tr>
        </thead>
        <tbody>


            {% for rf in list_rf %}
            <tr>
                <td>{{ rf.id }}</td>
                <td>Nom</td>
                <td>{{ rf.dateRemboursement|date("d/m/Y")}}</td>
                <td>{{ rf.frais.count }}</td>
                <td>{{ rf.montantTotal }}</td>
                <td>
                    {#
                    <a href="{{ path('junior_gestion_showRF', {'idRF': rf.id}) }}" class="btn btn-primary btn-small">
                        <i class="icon-search icon-white"></i>
                        Détail
                    </a>
#}
                </td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
                    {% endif %}
</div>


{% endblock %} 