{% extends "JuniorEtudiantBundle:Gestion:layoutGestion.html.twig" %}

{% block title %}
{{ parent()}} - Créer un étudiant
{% endblock %}

{% block content_gestion %}

<div>
    <h2>Nouvel étudiant</h2>
    <form method="post" {{ form_enctype(form) }}>
        <div>
            {{ form_label(form.numEtudiant, "N° étudiant :") }}

            {{ form_errors(form.numEtudiant) }}

            {{ form_widget(form.numEtudiant) }}
            </div>
            <div>
            {{ form_label(form.nomEtudiant, "Nom :") }}

            {{ form_errors(form.nomEtudiant) }}

            {{ form_widget(form.nomEtudiant) }}
                </div>
                <div>
            {{ form_label(form.dateNaissance, "Date de naissance :") }}

            {{ form_errors(form.dateNaissance) }}

            {{ form_widget(form.dateNaissance) }}
                    </div>
                    <div>
            {{ form_label(form.adresseEtudiant, "Adresse :") }}

            {{ form_errors(form.adresseEtudiant) }}

            {{ form_widget(form.adresseEtudiant) }}
                        </div>
                        <div>
            {{ form_label(form.numSecu, "Numéro sécurité social :") }}

            {{ form_errors(form.numSecu) }}

            {{ form_widget(form.numSecu) }}
                            </div>
                            <div>
            {{ form_label(form.telEtudiant, "Téléphone :") }}

            {{ form_errors(form.telEtudiant) }}

            {{ form_widget(form.telEtudiant) }}
                                </div>
                            <div>
            {{ form_label(form.email, "Adresse email :") }}

            {{ form_errors(form.email) }}

            {{ form_widget(form.email) }}
                                </div>


        {{ form_rest(form) }}
                                <input type="submit" class="btn btn-primary validButton" value="Valider"/>
                                <a class="btn btn-danger validButton" href="{{ path('junior_gestion_listEtudiants') }}">Annuler</a>
                            </form>
                        </div>



{% endblock %} 