{% extends "JuniorEtudiantBundle:Gestion:layoutGestion.html.twig" %}

{% block title %}
{{ parent()}} - Indemnités
{% endblock %}

{% block content_gestion %}

<div>
    <h2>Afficher un bulletin d'indemnités</h2>
    <form method="post" {{ form_enctype(form) }}>
        <div>
            {{ form_label(form.participants, "Sélectionnez un des membres de l'équipe :") }}

            {{ form_errors(form.participants) }}
                
            {{ form_widget(form.participants) }}
        </div>
        {{ form_rest(form) }}
    <input type="submit" class="btn btn-primary validButton" value="Valider"/>
     <a class="btn btn-danger validButton" href="{{ path('junior_gestion_listEtudes') }}">Annuler</a>
    </form>
</div>

{% endblock %} 