{% extends "JuniorEtudiantBundle:Gestion:layoutGestion.html.twig" %}

{% block title %}
{{ parent()}} - Etudiant
{% endblock %}

{% block content_gestion %}

<div  class="container-fluid">
    <h2>Suivi des travaux de l'étudiant {{ etudiant.nomEtudiant }}</h2>

    <div id="bloc-info-etudiant" class="container-fluid">
        <div  class="span6">
            <p><b>Nom étudiant : </b> {{ etudiant.nomEtudiant }} </p>
            <p><b>Adresse : </b>{{ etudiant.adresseEtudiant }} </p>
            <p><b>N° SS : </b>{{ etudiant.numSecu }} </p>
        </div>
        <div  class="span6">
            <p><b>Date de naissance : </b>{{ etudiant.dateNaissance|date("d/m/Y") }} </p>
            <p><b>N° Etudiant : </b>{{ etudiant.numEtudiant }} </p>
        </div>

    </div>


    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Nom de l'étude</th>
                <th>Nom de l'entreprise</th>
                <th>N° de convention</th>
                <th>Nature étudiant</th>
                <th>Indemnités versées</th>
            </tr>
        </thead>
        <tbody>

               {#
              {% for etude in etudes %}
            {% set participant = etudeRepository.findParticipantbyEtudiant(idEtudiant) %}
            
            
            <tr>
                <td>{{ etude.nomEtude }}</td>
                <td>{{ etude.convention.entreprise.nomEntreprise }}</td>
                <td>{{ etude.convention.id }}</td>
                <td>{{ participant.statutEtudiant }}</td>

                <td>{{ participant.statutEtudiant }}</td> 

                <td>indemn</td>

            </tr>
                        {% endfor %}
#}

            {% for participant in participants %}
            <tr>
                <td>{{ participant.etude }}</td>
                <td>{{ participant.etude.convention.entreprise.nomEntreprise }}</td>
                <td>{{ participant.etude.convention.id }}</td>
                <td>{{ participant.statutEtudiant }}</td>
     

                <td>indemn</td>

            </tr>
            {% endfor %}

        </tbody>
    </table>

</div>

<a class="btn btn-primary validButton" href="{{ path('junior_gestion_listEtudiants') }}">Retour à la liste</a>
<a class="btn btn-primary validButton" href="#">Export PDF</a>


{% endblock %} 